  <div class="portfolio-container">
    <div class="project">
      <h3>Traffic Accident Analysis and Prediction</h3>
      <!-- <img src="project-image.jpg" alt="Traffic Accident Analysis Project"> -->
      <a href="https://github.com/jlee629/Traffic-Accident-Analysis-and-Prediction" class="btn" target="_blank">GitHub</a>
    </div>
    <div class="project">
      <h3>Real-time IoT Data Visualization</h3>
      <!-- <img src="project-image.jpg" alt="IoT Data Visualization Project"> -->
      <a href="https://github.com/jlee629/Real-time-IoT-Data-Visualization-Application" class="btn" target="_blank">GitHub</a>
    </div>
    <div class="project">
      <h3>Alphard Survey Website</h3>
      <!-- <img src="project-image.jpg" alt="Survey Website Project"> -->
      <a href="https://github.com/jlee629/Survey-Site" class="btn" target="_blank">GitHub</a>
    </div>
  </div>
